.editorconfig
.gitattributes

web/.*
web/INSTALL.txt
web/README.md
web/autoload.php
web/core
web/example.gitignore
web/robots.txt
web/update.php
web/web.config
web/modules/README.txt
web/modules/contrib
web/profiles/README.txt
web/sites
web/themes/README.txt
web/testDb

vendor
config