[mysqld]

# Drupal recommended setting.
transaction-isolation=READ-COMMITTED

# Mysql-client doesn't support caching_sha2_password, so
# we default to old authentication method.
default-authentication-plugin=mysql_native_password